<html>
    <head>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Nicholas Conrad">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>Play Fantasy Kingdom - Empire Legends</title>
        <link rel="shortcut icon" type="image/png" href='/img/favicon.png'>
        <meta name="referrer" content="no-referrer-when-downgrade" />
    </head>
    <body>
        {{#ifeq user_data -1}}
        <div id="login-screen" class="centered">
            <img src='/img/agar-256.png'/>
            <br>
            <h1>Fantasy Kingdom</h1>
            <div id="g_id_onload"
     data-client_id="284417392950-kpnqh7a39ss69mbbrg07t64l4oklpa4s.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-callback="googleAuth"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="filled_black"
     data-text="continue_with"
     data-size="large"
     data-logo_alignment="left"
     id="google-login-button">
</div>
            <div id="login-status-message"></div>
        </div>

        {{else}}
        <div id="ingame">
            <!--
           Logged in as {{user_data.email}}.
            <button onclick="logout()">Logout</button>-->

            <div id="gameCanvasHolder"></div>
            <div id="full-screen-dialog">
                <div class="centered">
                    <span id="full-screen-dialog-text"></span>
                    <div id="full-screen-dialog-options"></div>
                    <div id="full-screen-dialog-input"></div>
                    <!--<span class="tiny-text blink">(Tap to Continue)</span>-->
                </div>
            </div>

            <div id="HUD">
                <div id="game-menu-icon"></div>
                <div id="username"></div>
                <div id="gold"><img src='/img/icons/gold-icon.png'/>Gold: <div id='gold-value'></div></div>
                <div id="silver"><img src='/img/icons/silver-icon.png'/>Silver: <div id='silver-value'></div></div>
                <div id="health"><img src='/img/icons/health-icon.png'/>Health: <div id='health-value'></div></div>
                <div id="energy"><img src='/img/icons/energy-icon.png'/>Energy: <div id='energy-value'></div></div>
                <div id="x">X: <div id='xPos'></div></div>
                <div id="y">Y: <div id='yPos'></div></div>
            </div>
            <div id="chatbox">
                <input id="chatbox-input" placeholder="Type a message here.."/>
            </div>
            <div id="menu">

                <div id="home-menu" class="menu-content">
                    <h1>Home</h1>
                    <div id="current-action">
                    <h2>Current Action</h2>
                    <div id="current-action-value">

                    </div>
                    </div>
                    <div id="current-action-time-remaining">

                    </div>


                    <div id="attack-monster-button" class="home-menu-button">
                        Attack Monster
                    </div>
                    <div id="find-food-button" class="home-menu-button">
                        Find Food
                    </div>
                    <div id="deposit-money-button" class="home-menu-button">
                        Deposit $$$
                    </div>
                    <div id="withdrawl-money-button" class="home-menu-button">
                        Withdrawl $$$
                    </div>

                    <h2>Online Players</h2>
                    <div id="online-players-holder"></div>
                </div>

                <div id='menu-icons-holder'>
                    <div class="menu-icon menu-icon-selected">
                        <img src="/img/icons/home-icon.png"/>
                    </div>
                    <div class="menu-icon">
                        <img src="/img/icons/items-icon.png"/>
                    </div>
                    <div class="menu-icon">
                        <img src="/img/icons/stats-icon.png"/>
                    </div>
                    <div class="menu-icon">
                        <img src="/img/icons/settings-icon.png"/>
                    </div>
                </div>
            </div>

        </div>
        {{/ifeq}}

        <script>
            var email = "{{user_data.email}}";
            var auth_key = "{{user_data.auth_key}}"
        </script>
        <script src="https://accounts.google.com/gsi/client" async defer></script>
        <script src='/public-js/phaser.min.js'></script>
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script src="/public-js/jquery.typeText.min.js"></script>
        <script src='/js/core.js'></script>
    </body>
</html>