<div id="email-user-created-instructions">
    <div class="email-login-instruction-header">
      <h2>Email Login Instructions</h2>
    </div>
    <div class="email-client-logos">
        <a href='https://support.apple.com/en-us/HT201320#manual' target="_blank"><img src="/img/apple.svg"
        loading="lazy"
        height="50"
        width="50"/></a>
        <a href='https://support.google.com/mail/answer/6078445/' target="_blank"><img src="/img/gmail.svg"
        loading="lazy"
        height="50"
        width="50"/></a>
        <a href='https://support.microsoft.com/en-us/office/set-up-the-outlook-app-for-ios-b2de2161-cc1d-49ef-9ef9-81acd1c8e234#tab=bkmk_imap' target="_blank">
        <img src="/img/outlook.svg"
        loading="lazy"
        height="50"
        width="50"/></a>
        <a href='https://support.mozilla.org/en-US/kb/manual-account-configuration' target="_blank"><img src="/img/thunderbird.svg"
        loading="lazy"
        height="50"
        width="50"/></a>
    </div>
    <div class="client-settings">
      Hosts: <b>example.com</b><br>
      IMAP: <b>Port 993 (SSL)</b><br>
      POP3: <b>Port 995 (SSL)</b><br>
      SMTP: <b>587 (TLS)</b><br>
      Password Type: <b>Encrypted</b><br>
      Username: <b><span id="email-created-username"></span></b><br>
      Password: <b><span id="email-created-password"></span></b>
    </div>
    <div class="email-login-instruction-action-bar">
        <div class="close-created-user-instructions" onclick="closeEmailLoginInstructions()">
        Close
        </div>
        <input type="email" id="send-email-instructions-email" placeholder="instructions.recipient@gmail.com"/>
        <div class="send-created-user-instructions" onclick="sendEmailLoginInstructions()">
        Send
        </div>
    </div>
  </div>