<VirtualHost *:80>
	ServerName example.com
	ServerAlias www.example.com
	Redirect permanent / https://example.com/
</VirtualHost>
<VirtualHost *:443>
	ServerName example.com
	ServerAlias www.example.com
	ServerAdmin support@example.com
	SSLEngine on
	SSLCertificateFile /etc/letsencrypt/live/example.com/fullchain.pem
	SSLCertificateKeyFile /etc/letsencrypt/live/example.com/privkey.pem
	ProxyPreserveHost On
	ProxyPass / http://localhost:8080/ retry=1 acquire=3000 timeout=600 Keepalive=On
	ProxyPassReverse / http://localhost:8080/
	ErrorLog ${APACHE_LOG_DIR}/example.com.error.log
	CustomLog ${APACHE_LOG_DIR}/example.com.access.log common
</VirtualHost>