body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#login-screen, #pr-screen {
    position: fixed;
    background: url('/img/landing-bg.webp');
    background-size: cover;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#membership-plans {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    z-index: 2;
    padding: 10px;
    border: 1px solid black;
    display: none;
}
.upgrade-span {
    text-decoration: underline;
    text-decoration-color: lime;
    cursor: pointer;
}
#portal {
    position: fixed;
    background: url('/img/portal-bg.jpg');
    background-size: cover;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy-div {
    color: #333;
    background: lightyellow;
    overflow: hidden;
    margin: auto;
    padding: 5px;
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
    width: 250px;
}
.copy-button {
    background: #333;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    color: white;
    vertical-align: top;
    display: inline-block;
    margin-bottom: 15px;
    cursor: pointer;
}
.delete-domain {
color: red;
position: absolute;
bottom: -20px;
right: 5px;
cursor:pointer;
text-decoration: underline;
}

#register-form ul {
    text-align: left;
    margin: auto;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}
#login-form {
    display: none;
}
#login-form, #register-form {
    background: rgba(0,0,0,.75);
    color: white;
    text-align: center;
    padding: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    float:right;
    height: 100%;
}

#login-form h2, #register-form h2 {
    font-size: 1.5em;
    margin:0;
}
.email-user-delete {
    border:1px solid red;
    padding: 5px;
    cursor: pointer;
    margin-top: 5px;
}
.email-user-change-password {
    border:1px solid gold;
    padding: 5px;
    cursor: pointer;
    margin-top: 5px;
}
#login-form input, #register-form input {
    color: white;
    border:1px solid lime;
    background: none;
    padding: 10px;
    margin-top: 10px;
    font-size: 1.25em;
    border-radius: 5px;
    width: 300px;
    height: 50px;
}

#login-form input[type="submit"], #register-form input[type="submit"] {
    cursor: pointer;
}

.show-login, .show-register {
    text-decoration: underline;
    cursor: pointer;
    margin-top: 15px;
    font-style: italic;
}
.forgot-password {
    text-decoration: underline;
    cursor: pointer;
    margin-top: 15px;
    font-style: italic;
}

.logout-txt, #bottom-button {
    text-decoration: underline;
    cursor: pointer;
}

.logout-txt {
 position: absolute;
 top: 0px;
 right: 10px;
 font-weight:900;
}

#bottom-button {
margin-bottom:10px;
}

#no-domains {
    display: none;
}
footer {
    margin-bottom: 5px;
    margin-left: 5px;
}

footer a {
    color:black;
}

.my_domain {
    background: black;
    color: white;
}
.close-popup {
    position:absolute;
    top:5px;
    right:5px;
    cursor:pointer;
    color:red;
}
#forgot-password-screen {
    display: none;
    background: white;
    position: absolute;
    width: calc(100% - 20px);
    padding: 10px;
    z-index: 2;
    max-width: 400px;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    border-radius: 10px;
    max-height: 90%;
    overflow-y: auto;
}
#forgot-password-screen {
    text-align: center;
    background: black;
    color: white;
}
.popup-header {
    text-align: center;
    
}
.check-domain-validate, .send-created-user-instructions {
    background: #333;
    color:white;
    cursor:pointer;
    padding:10px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
}
.close-created-user-instructions, #send-email-instructions-email, .send-created-user-instructions {
    display: inline-block;
}
#send-email-instructions-email {
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
}
.close-domain-validate {
    background:none;
    color: #333;
    cursor:pointer;
    padding:10px;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    text-transform: uppercase;
}
#delete-unverified-domain, .close-created-user-instructions {
    color: gray;
    border-radius: 5px;
    background: white;
    width: fit-content;
    padding:10px;
    cursor:pointer;
    border: none;
    text-transform: uppercase;
}
.dvis-action-bar, .email-login-instruction-action-bar {
    padding: 10px;
    border-top: 1px solid lightgrey;
}

header {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background: white;
    z-index: 2;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(64,64,64,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(64,64,64,1);
    box-shadow: 0px 5px 5px 0px rgba(64,64,64,1);
}
header h1 {
line-height:1em;
	font-size:1em;
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
}
header h1 img {
 vertical-align:middle;
}
#portal-content {
    background: white;
    text-align: center;
    padding: 10px;
    padding-bottom: 30px;
    max-height: calc(100vh - 300px);
    overflow: auto;
    margin-top: 100px;
}
#account-summary {
    position: fixed;
    top:50px;
    left: 0;
    background:rgba(255,255,255,.8);
    padding: 5px;
}
.reset-password-form {
    background: #333;
    border-radius: 15px;
    color: white;
    text-align: center;
    padding: 20px;
}

.reset-password-form button, .reset-password-form input {
    background:none;
    border: 1px solid white;
    padding: 10px;
    color: white;
}
.reset-password-form button {
    border-color: lime;
}
.domain_panel {
    display: none;
    position: relative;
    padding:10px;
}
.my_domain_name {
    border:1px solid lime;
    padding: 10px;
    width: calc(100% - 22px);
    cursor: pointer;
}
.domain-verified {
    color: lime;
    font-size: .8em;
}
.domain-not-verified {
    color: red;
    font-size: .8em;
}
#prompt {
 margin-bottom: 2px;
}
.email-user {
    border: 1px solid white;
    margin-top: 10px;
}
#add-email-user-input {
	display: inline;
    background:none;
    height: 50px;
    padding:10px;
    border: 1px solid #333;
}
#add-email-user-mailbox-size {
    height: 50px;
}
#add-email-user {
    padding-bottom: 20px;
}
.add-email-user-submit {
	display: inline-block;
    background:#333;
    color:white;
    height: 50px;
    margin-top:10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
#features {
    float:left;
    background:white;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 20px;
    text-align: center;
}
.dvis-header, .email-login-instruction-header {
    background: #333;
    color: white;
    padding: 10px;
}
.email-client-logos {
    padding-top: 10px;
}
.email-client-logos img {
    display: inline-block;
}
.client-settings {
    padding: 10px;
}
#add-email-user, #email-user-created-instructions, #dvis {
    display: none;
    position: absolute;
    word-break: break-all;
    text-align: center;
    width: calc(100% - 20px);
    z-index: 2;
    background: white;
    max-width: 400px;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    border-radius: 10px;
    max-height: 90%;
    overflow-y: auto;
}
#dvis h2 {
    margin: 0;
}
.dvis-content {
    padding: 10px;
}
.discord-button {
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    text-align: center;
    background: #a981d6;
}
.discord-button-link {
    color: white;
    text-decoration: none;
}
.center-holder {
    position: relative;
    height: 300px;
}
#features ul {
    margin: auto;
    width: fit-content;
}
#forgot-password-screen {
 border:1px solid aqua;
}
#forgot-password-screen input,
#forgot-password-screen button {
    background: none;
    color: white;
    padding: 10px;
    border:1px solid white;
    border-radius: 5px;
 
}
#forgot-password-screen button {
margin-top: 10px;
}

#tos, #pp {
    width: 50%;
    margin: auto;
    margin-top: 100px;
}

@media only screen and (max-width: 750px) {

    #tos, #pp {
        width: 90%;
    }

    #account-summary {
        right: 0;
        text-align: center;
    }
    #login-screen {
        display: block;
        
    }
    #login-form, #register-form {
        margin-bottom: 0px;
        margin-top: 50px;
        margin-bottom: 0px;
        border-radius: 0px;
        width: calc(100% - 40px);
    }
    #features {
        border-radius: 0px;
        width: calc(100% - 40px);
        height:100vh;
        background:#111;
        color: white;
    }
    #features h2 {
        margin-top: 0;
    }
    footer {
        color: black;
    }
}
