{{> header }}
<style>
    .ap-body {
        text-align: center;
    }
    .delete-blog-post-a {
        color:red;
        cursor: pointer;
        text-decoration: underline;
    }
    #blog-content-area {
        height: 500px;
        width: 75%;
    }
    .edit-post {
        cursor: pointer;
    }
    .lead-table td {
        border:1px solid black;
    }
    #email-template-preview-holder {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 500px;
        height: 500px;
        max-width: 90%;
        max-height: 90%;
        transform: translate(-50%,-50%);
        background: lightgray;
        display: none;
    }
    #email-template-preview {
        height: 90%;
        width: 100%;
        background: white;
        overflow: scroll;
    }
    #close-email-template-preview {
        cursor: pointer;
        color: red;
    }
    #email-template-preview-subject {
        width:100%;
    }
</style>
<div id="email-template-preview-holder">
    <div id='close-email-template-preview' onclick="closeEmailTemplatePreview()">CLOSE</div>
    <input id="email-template-preview-subject"/>
<div contenteditable id="email-template-preview"></div>
<button id='update-email-template-button' onclick="updateEmailTemplate()">CREATE</button>
</div>
<div class="ap-body">
    <h1>Admin Panel</h1>
    <div class="create-blog-post">
        <h2 id="create-or-edit-post-title">Create Blog Post</h2>
        <form id="create-blog-post-form" enctype="multipart/form-data" method="post">

        <input id='blog-slug-field' required placeholder="Blog Post Slug" name="slug"/>
        <br>
        <input id='blog-title-field' required placeholder="Blog Post Title" name="title"/>
        <br>
        <textarea id='blog-excerpt-area' required placeholder="Blog Post Excerpt" name="excerpt"></textarea>
        <br>
        <textarea id='blog-content-area' required placeholder="Blog Post Content" name="content"></textarea>
        <br>
        <textarea id='blog-seokeywords-area' required placeholder="Blog Post Keywords" name="seo_keywords"></textarea>
        <br>
        <textarea id='blog-seodescription-area' required placeholder="Blog Post Description" name="seo_description"></textarea>
        <br>
        <label for="file" >WebP (1080 x 500)</label>
        <br>
        <input required id='create-blog-post-image' name="file" type="file" accept="image/webp"/>
        <br><br>
        <input id='blog-post-submit-button' type="submit" value="Create Post"/>
    </form>
    </div>
    <div>
        <h2>Current Blog Posts:</h2>
        {{#each blog_posts}}
            {{title}} <a class='delete-blog-post-a' onclick='deleteBlogPost("{{slug}}")'>(delete)</a> <a class='edit-post' 
            data-id="{{id}}"  
            data-content="{{{post_content}}}"
            data-slug="{{slug}}"
            data-title="{{title}}"
            data-excerpt="{{excerpt}}"
            data-seokeywords="{{seo_keywords}}"
            data-seodescription="{{seo_description}}"
            onclick='editBlogPost(this)'>(edit)</a><br>
        {{/each}}
    </div>
    <div id="lead-templates">
        <h2>Lead Templates</h2>
        <button onclick="showEmailTemplatePreview('','', -1, 0)">Create Lead Template</button>
        {{#each lead_email_templates}}
            <div onclick="showEmailTemplatePreview('{{subject}}',`{{body}}`, {{id}}, {{locked}})">{{subject}}</div>
        {{/each}}
    </div>
    <div id="leads">
        <h2>Leads</h2>
        <form>
            <input id='new-lead-first-name' placeholder="First Name"/>
            <input id='new-lead-last-name' placeholder="Last Name"/>
            <input id='new-lead-email' placeholder="Email"/>
            <input id='new-lead-url' placeholder="URL"/>
            <button onclick="createLead()">Create Lead</button>
        </form>
        <table class="lead-table">
            <tr>
                <th>Action<br>
                <select id="contact-lead-template-select">
                    <option value="-1" selected >Select a Template</option>
                    {{#each lead_email_templates}}
                        <option value="{{id}}">{{subject}}</option>
                    {{/each}}
                </select></th>
                <th>Unsubscribed?</th>
                <th>Interactions</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Name</th>
                <th>URL</th>
                <th>Company</th>
                <th>Position</th>
            </tr>
        {{#each leads}}
        <tr>
            <td><button onclick="reachOut({{lead_id}})">Reach Out</button></td>
            <td>{{unsubscribed}}</td>
            <td class="lead-interaction-data" data-id="{{lead_id}}">{{interaction_data}}</td>
            <td>{{first_name}}</td>
            <td>{{last_name}}</td>
            <td>{{email}}</td>
            <td><a href='{{url}}' target="_blank">Click Here</a></td>
            <td>{{company}}</td>
            <td>{{position}}</td>
        </tr>
        {{/each}}
    </table>
    </div>
</div>
{{> footer }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>

var edit_id = -1;


function editBlogPost(elem) {
    console.log(elem.dataset)
    console.log("Editing", elem.dataset.id)

    //Set Status to Editing
    edit_id = elem.dataset.id;

    document.getElementById("create-or-edit-post-title").innerHTML = "Edit Blog Post"

    //Set Inputs, including the file to existing image?...
    document.getElementById("blog-content-area").innerHTML = elem.dataset.content;
    document.getElementById("blog-excerpt-area").innerHTML = elem.dataset.excerpt;

    document.getElementById("blog-seokeywords-area").innerHTML = elem.dataset.seokeywords;
    document.getElementById("blog-seodescription-area").innerHTML = elem.dataset.seodescription;

    document.getElementById("blog-slug-field").value = elem.dataset.slug;
    document.getElementById("blog-title-field").value = elem.dataset.title;

    document.getElementById("create-blog-post-image").required = false;

    document.getElementById("blog-post-submit-button").value = "Update Post"
}

var _URL = window.URL || window.webkitURL;
$("#create-blog-post-image").change(function (e) {
    var file, img;
    if ((file = this.files[0])) {
        img = new Image();
        var objectUrl = _URL.createObjectURL(file);
        img.onload = function () {
            if(this.width != 1080 && this.height != "500") {
                alert("Please Upload a WebP 1080x500");
                $("#create-blog-post-image").val("")
            }
            _URL.revokeObjectURL(objectUrl);
        };
        img.src = objectUrl;
    }
});

document.getElementById("create-blog-post-form").onsubmit = function(e) {
    createBlogPost();
    e.preventDefault();
    return false;
}

    function createBlogPost() {
        try {
        var formData = new FormData(document.getElementById("create-blog-post-form"))

        if(edit_id == -1) {

    $.ajax({
        type: "POST",
        url: "/create-blog-post",
        data: formData,
        dataType: "json",
        processData: false,
        contentType: false,
    }).done(function (data) {
        if(data.status == "success") {
            alert("Success")
            window.location.reload();
        } else {
            alert(data.error)
        }
    });
        } else {
            formData.append("id", edit_id)
            //Edit
            $.ajax({
        type: "POST",
        url: "/update-blog-post",
        data: formData,
        dataType: "json",
        processData: false,
        contentType: false,
    }).done(function (data) {
        if(data.status == "success") {
            alert("Success")
            window.location.reload();
        } else {
            alert(data.error)
        }
    });

        }

} catch(e) {
    alert(e)
}
    }

    function deleteBlogPost(slug) {
        try {
        var formData = {slug: slug}
    $.ajax({
        type: "POST",
        url: "/delete-blog-post",
        data: formData,
        dataType: "json",
        encode: true,
    }).done(function (data) {
        if(data.status == "success") {
            alert("Success")
            window.location.reload();
        } else {
            alert(data.error)
        }
    });

} catch(e) {
    alert(e)
}
    }

    var emailTemplateEditID = -1;

function showEmailTemplatePreview(subject, body, id, locked) {

    if(id != -1) {
        emailTemplateEditID = id;

        if(locked == 1) {
            document.getElementById('update-email-template-button').innerHTML = "LOCKED"
            document.getElementById('update-email-template-button').disabled = true;
        } else {
        document.getElementById('update-email-template-button').innerHTML = "UPDATE"
        }
    }

    document.getElementById("email-template-preview-holder").style.display = "block";
    document.getElementById("email-template-preview-subject").value = subject;
    document.getElementById("email-template-preview").innerHTML = body;



}
function closeEmailTemplatePreview() {
    document.getElementById("email-template-preview-holder").style.display = "none";    
}

function updateEmailTemplate() {
    if(emailTemplateEditID == -1) {
        //create
        var formData = {subject: document.getElementById("email-template-preview-subject").value,
                            body: document.getElementById("email-template-preview").innerHTML}
        $.ajax({
            type: "POST",
            url: "/create-email-template",
            data: formData,
            dataType: "json",
            encode: true,
        }).done(function (data) {
            if(data.status == "success") {
                alert("Success")
                window.location.reload();
            } else {
                alert(data.error)
            }
        });

    } else {
        //update
        var formData = {subject: document.getElementById("email-template-preview-subject").value,
                            body: document.getElementById("email-template-preview").innerHTML,
                        id:emailTemplateEditID}
        $.ajax({
            type: "POST",
            url: "/update-email-template",
            data: formData,
            dataType: "json",
            encode: true,
        }).done(function (data) {
            if(data.status == "success") {
                alert("Success")
                window.location.reload();
            } else {
                alert(data.error)
            }
        });
    }
}

function reachOut(lead_id) {


    var template_id = -1;

    template_id = document.getElementById("contact-lead-template-select").value;

    if(template_id == -1) {
        alert("Select a contact template")
        return;
    }

    var formData = {
        template_id: template_id,
        lead_id:lead_id
    }
    $.ajax({
            type: "POST",
            url: "/contact-lead",
            data: formData,
            dataType: "json",
            encode: true,
        }).done(function (data) {
            if(data.status == "success") {
                alert("Success")
                //TODO: MARK LEAD CONTACTED CLIENT SIDED WITHOUT RELOAD
                updateLeadInteractions(lead_id, data.lead_interaction_data)
            } else {
                alert(data.error)
            }
        });

}

var lead_interaction_tds = document.getElementsByClassName("lead-interaction-data")
function updateLeadInteractions(lead_id, lead_interaction_data) {

    for(var i = 0; i < lead_interaction_tds.length; i++) {
        if(lead_interaction_tds[i].dataset.id == lead_id) {
            lead_interaction_tds[i].innerHTML = lead_interaction_data;
            break;
        }
    }
}

function createLead() {
    var formData = {
        first_name: document.getElementById("new-lead-first-name").value,
        last_name: document.getElementById("new-lead-last-name").value,
        email: document.getElementById("new-lead-email").value,
        url: document.getElementById("new-lead-url").value,
    }

        $.ajax({
            type: "POST",
            url: "/create-lead",
            data: formData,
            dataType: "json",
            encode: true,
        }).done(function (data) {
            if(data.status == "success") {
                alert("Success")
                window.location.reload();
            } else {
                alert(data.error)
            }
        });
}
</script>
</body>
</html>