{{> header }}
<style>
  footer {
    position: fixed;
    bottom: 5px;
    left: 5px;
    color: white;
}
  footer a {
    color: white;
  }
</style>
  <div id="forgot-password-screen">
    <div class="close-popup" onclick='closeForgotPassword()'><i class="fa-solid fa-circle-xmark"></i></div>
    <h2>Forgot Password?</h2>
    <input id='forgot-password-email' type='email' name='email' placeholder='Email' autocomplete="email" /><br>
    <button onclick="sendPasswordReset()">Reset Password</button><br>
  </div>

  {{#ifeq user_data -1}}
  <div id="login-screen" class="centered">
    <div class="center-holder">
    <form id='login-form'>
      <h2>Portal Login</h2>
      <input type='email' name='email' placeholder='Email' autocomplete="email"/><br>
      <input type='password' name='password' placeholder='Password' autocomplete="current-password"/><br>
      <input type='submit' /><br>
      <div class="forgot-password" onclick="showForgotPassword()">Forgot Your Password?</div>
      <div class="show-register" onclick="showRegister()">Don't Have an Account? Register Now</div>
    </form>
    <form id='register-form'>
      <h2>Get Your Professional Business Email</h2>
      <input type='email' name='email' placeholder='Email' autocomplete="email" /><br>
      <input type='password' name='password' placeholder='Password' autocomplete="new-password"/><br>
      <input type='submit' value="Get Started Now" /><br>
      <div style="margin-top: 5px">
        <em>No credit card required</em>
      </div>
      <div class="show-login" onclick="showLogin()">Already Have an Account? Login Now</div>
    </form>
    <div id="features">
      <h2>Free Beta Testing</h2>
      <ul style="text-align:left">
        <li>Custom Domain Name</li>
        <li>SPF, DKIM & DMARC</li>
        <li>1GB Storage</li>
      </ul>
      <p>Become a part of our community</p>
      <a href="https://discord.gg/SrQkPdExjM" target="_blank" class="discord-button-link">
        <div class="discord-button">
          <i class="fa-brands fa-discord"></i> Join Discord
        </div>
      </a>
    </div>
    </div>
  </div>
  {{else}}
    {{> dvis }}
    {{> mplans }}
    {{> add-email-user }}
    {{> email-setup-instructions-popup }}
    <div id="portal">
    <div id="account-summary">
      <span>Account Email: <b>{{user_data.email}}</b></span><br>
      My Plan: <b>{{#ifeq user_data.plan 0}}Free <span class="upgrade-span" onclick="showMembershipPlans()">(Upgrade)</span>{{else}}Premium{{/ifeq}}</b><br>
      Storage Used: <b><span id='total-email-user-storage-used'></span>/{{#ifeq user_data.plan 0}}1{{else}}100{{/ifeq}}GB</b><br>
      Storage Allocated: <b><span id='total-email-user-storage-allocated'>{{ user_data.mailbox_gb_allocated }}GB</span>/{{#ifeq user_data.plan 0}}1{{else}}100{{/ifeq}}GB</b><br>
      Domains: <b>{{my_domains.length}}/{{#ifeq user_data.plan 0}}1{{else}}∞{{/ifeq}}</b><br>
      Users: <b><span id="my_email_users_length"></span>/{{#ifeq user_data.plan 0}}1{{else}}∞{{/ifeq}}</b>
    </div>
    <div id="portal-content">
      {{#ifeq my_domains.length 0}}
      <h2>You Have No Domains</h2>
      <div id="bottom-button" onclick="addDomain()"><i class="fa-solid fa-circle-plus"></i> Add Domain</div>
      {{else}}
      <h2 id="prompt">Select a Domain</h2>
      <div id="domain-list">
        <div id="bottom-button" onclick="addDomain()"><i class="fa-solid fa-circle-plus"></i> Add Domain</div>
        {{#each my_domains}}

        <div class="my_domain" data-id="{{id}}">

          {{#ifeq dns_verified 1}}
          <div class="my_domain_name" onclick='showDomainPanel("{{id}}")'>
            {{name}}
            <br>
            <div class="my_domain_verified">
              <div class="domain-verified">Verified</div>
            </div>
          </div>
          {{else}}
          <div class="my_domain_name" onclick='showDomainVerificationInstructions("{{name}}","{{dns_txt_code}}")'>
            {{name}} <br>
            <div class="my_domain_verified">
              <div class='domain-not-verified'>Not Verified</div>
            </div>
          </div>
          {{/ifeq}}

          <div class="domain_panel" data-id="{{id}}">

            <button class='show-add-email-user' onclick="showAddEmailUser('{{ name }}')">Add Email User</button>

            <div id="my_domain_email_users">

            </div>

            <div class="delete-domain" onclick="deleteDomain('{{name}}')">
              DELETE DOMAIN
            </div>
          </div>

        </div>
        {{/each}}
      </div>
      {{/ifeq}}
    </div>
  </div>

  {{/ifeq}}

  {{> footer }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  {{> hbjs }}
  <script src='/js/core.js'></script>
</body>

</html>