<div id="dvis">
  <div class="dvis-header">
    <h2>Domain Verification</h2>
    <div id="verify-domain-name"></div>
  </div>
  <div class="dvis-content">
    1) MX - @<br>
    <div class='copy-div' id="copy-mx">cheapbusiness.email</div>
    <div class="copy-button" data-id="copy-mx">COPY</div>
    <br>
    2) TXT (Verification) - @<br>
    <div class="copy-div" id="dns-txt-key"></div>
    <div class="copy-button" data-id="dns-txt-key">COPY</div>
    <br>
    3) TXT (SPF) - @<br>
    <div class='copy-div' id="copy-spf">v=spf1 include:cheapbusiness.email ~all</div>
    <div class="copy-button" data-id="copy-spf">COPY</div>
    <br>
    4) TXT (DKIM) - cbe._domainkey<br>
    <div class='copy-div' id="copy-dkim">v=DKIM1;h=sha256;k=rsa;t=y;p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAojIbdb149vKwuasNv+TQOoWQVGFS0Gr1M+C+722vW1DP7H+/TOs+DA/Truz4iNC1JsT5/O9XfTq8ghQYVmfkxYosY2QC0l3x86YpdX5yy4b2UnbxkCLlJzFqbIksw2eNSBTHV29OO5ywnjq8Tc/ilAdHQoNmmZQTd1nyV2jOivuDeiM9hYHizIx7R20HSoB2VL51BbzM9LUxWlfeaN+rfIgEcLcltYbQKpJPPRIMobvYP99lNUGL+6ACIwFqbIvSP0aNxXh6IrynVeCXIdUrEKughPMplnEHOqKQRZEoGY9DgwkxHp2Ct0QjqPzWYEg+hUewIuH+EZgnfuA7ZdhQnwIDAQAB</div>
    <div class="copy-button" data-id="copy-dkim">COPY</div>
    <br>
    5) TXT (DMARC) - _dmarc<br>
    <div class='copy-div' id="copy-dmarc">v=DMARC1; p=none; rua=mailto:dmarc@cheapbusiness.email; ruf=mailto:dmarc@cheapbusiness.email; fo=1</div>
    <div class="copy-button" data-id="copy-dmarc">COPY</div>
    <br>
    </div>
    <div class="dvis-action-bar">
      <button id="delete-unverified-domain">Remove Domain</button>
      <button class='close-domain-validate' onclick="closeValidateDomain()">Close</button>
      <button class='check-domain-validate' onclick="validateDomain()">Verify</button>
    </div>
  </div>