<script>

    function formatBytes(bytes, decimals = 2) {
      if (!+bytes) return '0 Bytes'

      const k = 1024
      const dm = decimals < 0 ? 0 : decimals
      const sizes = ['Bytes', 'KiB', 'MiB', 'GiB', 'TiB', 'PiB', 'EiB', 'ZiB', 'YiB']

      const i = Math.floor(Math.log(bytes) / Math.log(k))

      return `${parseFloat((bytes / Math.pow(k, i)).toFixed(dm))} ${sizes[i]}`
    }

    var my_domain_panels = document.getElementsByClassName("domain_panel");
    var my_email_users = {{{ my_email_users }}};

    function addEmailUserToPanel(my_email_user, my_domain_panel) {

          var emailUserDiv = document.createElement("div")
          emailUserDiv.classList.add("email-user")
          emailUserDiv.dataset.email = my_email_user.email

          var emailUserNameDiv = document.createElement("div")
          emailUserNameDiv.classList.add("email-user-full-email")
          emailUserNameDiv.innerHTML = my_email_user.email
          emailUserDiv.appendChild(emailUserNameDiv);

          var emailUserCreatedAtDiv = document.createElement("div")
          emailUserCreatedAtDiv.classList.add("email-user-created-at")
          var c_date = new Date(my_email_user.created_at + ' UTC');
          var f_date = c_date.toDateString().substring(4) + " " + c_date.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true })
          emailUserCreatedAtDiv.innerHTML = "Created: <span style='color:gold'>" + f_date + "</span>";
          emailUserDiv.appendChild(emailUserCreatedAtDiv);

          var emailUserStorageDiv = document.createElement("div")
          emailUserStorageDiv.classList.add("email-user-storage")
          emailUserStorageDiv.innerHTML = "Storage Used: " + formatBytes(my_email_user.storage_used) + "/" + my_email_user.mailbox_size_gb +"GB";
          total_email_user_storage_used = total_email_user_storage_used + my_email_user.storage_used
          emailUserDiv.appendChild(emailUserStorageDiv);

          var emailUserChangePassDiv = document.createElement("div")
          emailUserChangePassDiv.classList.add("email-user-change-password")
          emailUserChangePassDiv.innerHTML = '<i class="fa-solid fa-key"></i> Change Password';
          let this_email = my_email_user.email
          emailUserChangePassDiv.onclick = function() {
            changeEmailUserPass(this_email)
          }
          emailUserDiv.appendChild(emailUserChangePassDiv);

          var emailUserDeleteDiv = document.createElement("div")
          emailUserDeleteDiv.classList.add("email-user-delete")
          emailUserDeleteDiv.innerHTML = '<i class="fa-solid fa-trash"></i> Delete User'
          emailUserDeleteDiv.onclick = function() {
            deleteEmailUser(this_email)
          }
          emailUserDiv.appendChild(emailUserDeleteDiv);

          my_domain_panel.appendChild(emailUserDiv);


    }

    //load email users into panels
    if(my_email_users != -1) {
    document.getElementById("my_email_users_length").innerHTML = my_email_users.length;
    console.log("Loading email users:", my_email_users)
    }

    var total_email_user_storage_used = 0;
    var teus = document.getElementById("total-email-user-storage-used");

    for (var d = 0; d < my_domain_panels.length; d++) {
      for (var i = 0; i < my_email_users.length; i++) {
        if (my_email_users[i].domain_id == my_domain_panels[d].dataset.id) {
            addEmailUserToPanel(my_email_users[i], my_domain_panels[d])
        }
      }
    }
    
    if(teus != null)
      teus.innerHTML = formatBytes(total_email_user_storage_used);
    
    var mailbox_gb_allocated = "{{ user_data.mailbox_gb_allocated }}"
    var user_plan = "{{ user_data.plan }}";
  </script>