<!DOCTYPE html>
<head>
  <meta name="description" content="{{ seo_description }}">
  <meta name="keywords" content="{{ seo_keywords }}">
  <meta name="author" content="RaddTech LLC">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>{{ seo_title }}</title>
  <link rel="icon" type="image/x-icon" href='/img/favicon.ico'>
  <meta name="referrer" content="no-referrer-when-downgrade" />
  <script src="https://kit.fontawesome.com/9069ce9b70.js" crossorigin="anonymous"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LTKF30BDLT"></script>
  <script>
    var host = window.location.hostname;
    if(host != "localhost")
    {
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-LTKF30BDLT');
    }
  </script>
</head>

<body>
  <header>
    <h1>
      <a href='/'><img height="32" src="/img/chip.webp"/></a>
      <em>Cheap</em> Business Email
    </h1>
    {{#ifeq user_data -1}}
    {{else}}
    <div class="logout-txt" onclick="logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</div>
    {{/ifeq}}
  </header>