<div id="membership-plans">
    <div class="close-popup" onclick="closeMembershipPlans()"><i class="fa-solid fa-circle-xmark"></i></div>
<h2 style="text-align: center;">Upgrade to Premium</h2>
<div>
    <ul>
        <li>Unlimited Users</li>
        <li>Unlimited Domains</li>
        <li>100GB Total Storage</li>
    </ul>
    <script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  customer-email="{{user_data.email}}"
  client-reference-id="{{user_data.uid}}"
  buy-button-id="buy_btn_1NJLsNJP8d9HeiR68URfPvl1"
  publishable-key="pk_test_51N70IkJP8d9HeiR6IeZ4zIhNfXUUyTD3X39pUGxfKhsJZ2VmB9B6tGveBTUzmIBCSk1QNXupQBE6HyrSSEgB5url00S90WmA5F">
</stripe-buy-button>
</div>
</div>