<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
</head>

<body>
  <center>
    <table width="620" cellspacing="0" cellpadding="0" style="border:0px;font-size: 14px">
      <tbody>
        <tr>
          <td height="60" align="center">
            
            <table border="0" cellspacing="0" cellpadding="0" align="center">
              <tbody>
                <tr>
                  <td width="620"
                    style='padding-left: 20px;font-family: Arial, Helvetica, sans-serif;line-height: 1.5;font-size: 1.5em'>
                    <p>A password reset request has been made for your account. If this wasn't you, please ignore this
                      email.</p>

                  </td>
                </tr>

              </tbody>
            </table>

          </td>
        </tr>

        <tr>
          <td height="10"></td>
        </tr>

        <tr>
          <td bgcolor="#333"
            style="color: #fff; font-size:2em; font-family:Arial, Helvetica, sans-serif; padding: 12px 2px 12px 0px;text-align:center; ">
            <table style="width:620px; border:0; text-align:center;" cellpadding="0" cellspacing="0">
              <center>
                <td style="font-weight: bold;width:620px;color: #fff"><a style='color: white;font-size:1.5em;text-decoration:none'
                    href='<%= baseURL %>/reset-password/?email=<%= email %>&pk=<%= pk %>'><b>Reset
                      Password</b></a></td>
              </center>
            </table>
          </td>
        </tr>
        <tr>
          <td height="10"></td>
        </tr>
      </tbody>
    </table>

    <table border="0" cellpadding="0" cellspacing="0" width="100%"
      style="background-color:#FFFFFF;border-top:0px solid #E5E5E5;">
      <tbody>
        <tr>
          <td align="center" valign="top" style="padding-top:0px;padding-bottom:20px;">
            <table border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td align="center" valign="top"
                    style="color:#606060;font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:150%;padding-right:20px;padding-bottom:5px;padding-left:20px;text-align:center;">
                    This email was sent to <a href="mailto:<%= email %></a>" target="_blank" style="color:#606060;">
                      <%= email %>
                    </a>.
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </center>
</body>

</html>