{{> header }}
<div class="ap-body">
    <h1>Admin Panel</h1>
    <div class="create-blog-post">
        <h2>Create Blog Post</h2>
        <form id="create-blog-post-form" enctype="multipart/form-data">
        <input required placeholder="Blog Post Slug" name="slug"/>
        <br>
        <input required placeholder="Blog Post Title" name="title"/>
        <br>
        <textarea required placeholder="Blog Post Excerpt" name="excerpt"></textarea>
        <br>
        <textarea required placeholder="Blog Post Content" name="content"></textarea>
        <br>
        <input required placeholder="Blog Post Keywords" name="seo_keywords"/>
        <br>
        <input required placeholder="Blog Post Description" name="seo_description"/>
        <br>
        <label for="file" >WebP (1080 x 500)</label>
        <br>
        <input required id='create-blog-post-image' name="file" type="file" accept="image/webp"/>
        <br><br>
        <input type="submit" value="Create Post"/>
    </form>
    </div>
</div>
{{> footer }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>

var _URL = window.URL || window.webkitURL;
$("#create-blog-post-image").change(function (e) {
    var file, img;
    if ((file = this.files[0])) {
        img = new Image();
        var objectUrl = _URL.createObjectURL(file);
        img.onload = function () {
            if(this.width != 1080 && this.height != "500") {
                alert("Please Upload a WebP 1080x500");
                $("#create-blog-post-image").val("")
            }
            _URL.revokeObjectURL(objectUrl);
        };
        img.src = objectUrl;
    }
});

document.getElementById("create-blog-post").onsubmit = function(e) {
    e.preventDefault();
    createBlogPost;
    return false;
}

    function createBlogPost() {
        try {
        var formData = new FormData(document.getElementById("create-blog-post-form"))
    $.ajax({
        type: "POST",
        url: "/create-blog-post",
        data: formData,
        dataType: "json",
        processData: false,
        contentType: false,
    }).done(function (data) {
        if(data.status == "success") {
            alert("Success")
        } else {
            alert(data.error)
        }
    });

} catch(e) {
    alert(e)
}
    }

</script>
</body>
</html>