{{> header }}
<style>
    .ap-body {
        text-align: center;
    }
    .delete-blog-post-a {
        color:red;
        cursor: pointer;
        text-decoration: underline;
    }
    #blog-content-area {
        height: 500px;
        width: 75%;
    }
    .edit-post {
        cursor: pointer;
    }
</style>
<div class="ap-body">
    <h1>Admin Panel</h1>
    <div class="create-blog-post">
        <h2 id="create-or-edit-post-title">Create Blog Post</h2>
        <form id="create-blog-post-form" enctype="multipart/form-data" method="post">

        <input id='blog-slug-field' required placeholder="Blog Post Slug" name="slug"/>
        <br>
        <input id='blog-title-field' required placeholder="Blog Post Title" name="title"/>
        <br>
        <textarea id='blog-excerpt-area' required placeholder="Blog Post Excerpt" name="excerpt"></textarea>
        <br>
        <textarea id='blog-content-area' required placeholder="Blog Post Content" name="content"></textarea>
        <br>
        <textarea id='blog-seokeywords-area' required placeholder="Blog Post Keywords" name="seo_keywords"></textarea>
        <br>
        <textarea id='blog-seodescription-area' required placeholder="Blog Post Description" name="seo_description"></textarea>
        <br>
        <label for="file" >WebP (1080 x 500)</label>
        <br>
        <input required id='create-blog-post-image' name="file" type="file" accept="image/webp"/>
        <br><br>
        <input id='blog-post-submit-button' type="submit" value="Create Post"/>
    </form>
    </div>
    <div>
        <h2>Current Blog Posts:</h2>
        {{#each blog_posts}}
            {{title}} <a class='delete-blog-post-a' onclick='deleteBlogPost("{{slug}}")'>(delete)</a> <a class='edit-post' 
            data-id="{{id}}"  
            data-content="{{{post_content}}}"
            data-slug="{{slug}}"
            data-title="{{title}}"
            data-excerpt="{{excerpt}}"
            data-seokeywords="{{seo_keywords}}"
            data-seodescription="{{seo_description}}"
            onclick='editBlogPost(this)'>(edit)</a><br>
        {{/each}}
    </div>
</div>
{{> footer }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>

var edit_id = -1;


function editBlogPost(elem) {
    console.log(elem.dataset)
    console.log("Editing", elem.dataset.id)

    //Set Status to Editing
    edit_id = elem.dataset.id;

    document.getElementById("create-or-edit-post-title").innerHTML = "Edit Blog Post"

    //Set Inputs, including the file to existing image?...
    document.getElementById("blog-content-area").innerHTML = elem.dataset.content;
    document.getElementById("blog-excerpt-area").innerHTML = elem.dataset.excerpt;

    document.getElementById("blog-seokeywords-area").innerHTML = elem.dataset.seokeywords;
    document.getElementById("blog-seodescription-area").innerHTML = elem.dataset.seodescription;

    document.getElementById("blog-slug-field").value = elem.dataset.slug;
    document.getElementById("blog-title-field").value = elem.dataset.title;

    document.getElementById("create-blog-post-image").required = false;

    document.getElementById("blog-post-submit-button").value = "Update Post"
}

var _URL = window.URL || window.webkitURL;
$("#create-blog-post-image").change(function (e) {
    var file, img;
    if ((file = this.files[0])) {
        img = new Image();
        var objectUrl = _URL.createObjectURL(file);
        img.onload = function () {
            if(this.width != 1080 && this.height != "500") {
                alert("Please Upload a WebP 1080x500");
                $("#create-blog-post-image").val("")
            }
            _URL.revokeObjectURL(objectUrl);
        };
        img.src = objectUrl;
    }
});

document.getElementById("create-blog-post-form").onsubmit = function(e) {
    createBlogPost();
    e.preventDefault();
    return false;
}

    function createBlogPost() {
        try {
        var formData = new FormData(document.getElementById("create-blog-post-form"))

        if(edit_id == -1) {

    $.ajax({
        type: "POST",
        url: "/create-blog-post",
        data: formData,
        dataType: "json",
        processData: false,
        contentType: false,
    }).done(function (data) {
        if(data.status == "success") {
            alert("Success")
            window.location.reload();
        } else {
            alert(data.error)
        }
    });
        } else {
            formData.append("id", edit_id)
            //Edit
            $.ajax({
        type: "POST",
        url: "/update-blog-post",
        data: formData,
        dataType: "json",
        processData: false,
        contentType: false,
    }).done(function (data) {
        if(data.status == "success") {
            alert("Success")
            window.location.reload();
        } else {
            alert(data.error)
        }
    });

        }

} catch(e) {
    alert(e)
}
    }

    function deleteBlogPost(slug) {
        try {
        var formData = {slug: slug}
    $.ajax({
        type: "POST",
        url: "/delete-blog-post",
        data: formData,
        dataType: "json",
        encode: true,
    }).done(function (data) {
        if(data.status == "success") {
            alert("Success")
            window.location.reload();
        } else {
            alert(data.error)
        }
    });

} catch(e) {
    alert(e)
}
    }

</script>
</body>
</html>