<html>

<head>
  <meta name="description" content="">
  <meta name="keywords" content="free email,custom domain email">
  <meta name="author" content="Nicholas Conrad">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Professional Business Email</title>
  <link rel="icon" type="image/x-icon" href='/img/favicon.ico'>
  <meta name="referrer" content="no-referrer-when-downgrade" />
  <script src="https://kit.fontawesome.com/9069ce9b70.js" crossorigin="anonymous"></script></head>

<body>
  <header>
    <h1>
      <img src="/img/favicon.ico" />
      <em>Cheap</em> Business Email
    </h1>
    {{#ifeq user_data -1}}
    {{else}}
    <div class="logout-txt" onclick="logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</div> {{/ifeq}}
  </header>

  <div id="forgot-password-screen">
    <div class="close-popup" onclick='closeForgotPassword()'><i class="fa-solid fa-circle-xmark"></i></div>
    <input id='forgot-password-email' type='email' name='email' placeholder='Email' autocomplete="email" /><br>
    <button onclick="sendPasswordReset()">Reset Password</button><br>
  </div>

  {{#ifeq user_data -1}}
  <div id="login-screen" class="centered">
    <form id='login-form'>
      <h2>Portal Login</h2>
      <input type='email' name='email' placeholder='Email' autocomplete="email"/><br>
      <input type='password' name='password' placeholder='Password' autocomplete="current-password"/><br>
      <input type='submit' /><br>
      <div class="forgot-password" onclick="showForgotPassword()">Forgot Your Password?</div>
      
      <div class="show-register" onclick="showRegister()">Don't Have an Account? Register Now</div>
    </form>

    <form id='register-form'>
      <h2>Get Your Professional Business Email for Free!</h2>

      <ul style="text-align:left">
        <li>1 Custom Domain Name</li>
        <li>Up to 5 Users</li>
        <li>5GB Storage</li>
        <li><em style="color:red">Limited Time Only</em></li>
      </ul>
      <input type='email' name='email' placeholder='Email' autocomplete="email" /><br>
      <input type='password' name='password' placeholder='Password' autocomplete="new-password"/><br>
      <input type='submit' value="Get Started Now" /><br>

      <div style="margin-top: 5px">
        <em>No credit card required</em>
      </div>
      <div class="show-login" onclick="showLogin()">Already Have an Account? Login Now</div>


    </form>


  </div>
  {{else}}
  <div id="dvis">
    <h2>Domain Verification</h2>
    <div id="verify-domain-name"></div>
    <div id="delete-unverified-domain">
      Cancel Domain Verification </div>
    <br>
    1) Add / Change MX record:<br>
    Name: @<br>
    Value: <div class='copy-div'>cheapbusiness.email</div><br>
    2) Add Verification TXT record:<br>
    Name: @<br>
    Value: <div id="dns-txt-key" class="copy-div"></div><br>
    3) Add SPF TXT record:<br>
    Name: @<br>
    Value: <div class='copy-div'>v=spf1 mx ~all</div><br>
    4) Add DKIM TXT record:<br>
    Name: cbe._domainkey<br>
    Value: <div class='copy-div'>v=DKIM1;h=sha256;k=rsa;t=y;p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAojIbdb149vKwuasNv+TQOoWQVGFS0Gr1M+C+722vW1DP7H+/TOs+DA/Truz4iNC1JsT5/O9XfTq8ghQYVmfkxYosY2QC0l3x86YpdX5yy4b2UnbxkCLlJzFqbIksw2eNSBTHV29OO5ywnjq8Tc/ilAdHQoNmmZQTd1nyV2jOivuDeiM9hYHizIx7R20HSoB2VL51BbzM9LUxWlfeaN+rfIgEcLcltYbQKpJPPRIMobvYP99lNUGL+6ACIwFqbIvSP0aNxXh6IrynVeCXIdUrEKughPMplnEHOqKQRZEoGY9DgwkxHp2Ct0QjqPzWYEg+hUewIuH+EZgnfuA7ZdhQnwIDAQAB</div><br>
    5) Add DMARC TXT record:<br>
    Name: _dmarc<br>
    Value: <div class='copy-div'>v=DMARC1; p=none; rua=mailto:webmaster@cheapbusiness.email; ruf=mailto:webmaster@cheapbusiness.email; fo=1</div><br>
    <button class='check-domain-validate' onclick="validateDomain()">Validate Domain</button>
    <button class='close-domain-validate' onclick="closeValidateDomain()">Close</button>
  </div>
  <div id="portal">
    <div id="account-summary">
      <span>Account Email: <b>{{user_data.email}}</b></span><br>
      My Plan: <b>{{#ifeq user_data.plan 0}}Free{{else}}Premium{{/ifeq}}</b><br>
      Storage: <b><span id='total-email-user-storage'></span>/{{#ifeq user_data.plan 0}}5{{else}}100{{/ifeq}}GB</b><br>
      Domains: <b>{{my_domains.length}}/{{#ifeq user_data.plan 0}}1{{else}}∞{{/ifeq}}</b><br>
      Users: <b><span id="my_email_users_length"></span>/{{#ifeq user_data.plan 0}}5{{else}}∞{{/ifeq}}</b>
    </div>
    <div id="portal-content">
      <!--<div class="client-settings">
            IMAP: Port 993<br>
            POP3: Port 995<br>
            SMTP: 587<br>
            Password Type: Encrypted
          </div> -->
      {{#ifeq my_domains.length 0}}
      <h2>You Have No Domains</h2>
      <div id="bottom-button" onclick="addDomain()"><i class="fa-solid fa-circle-plus"></i> Add Domain</div>
      {{else}}
      <h2 id="prompt">Select a Domain</h2>
      <div id="domain-list">
        <div id="bottom-button" onclick="addDomain()"><i class="fa-solid fa-circle-plus"></i> Add Domain</div>
        {{#each my_domains}}

        <div class="my_domain" data-id="{{id}}">

          {{#ifeq dns_verified 1}}
          <div class="my_domain_name" onclick='showDomainPanel("{{id}}")'>
            {{name}}
            <br>
            <div class="my_domain_verified">
              <div class="domain-verified">Verified</div>
            </div>
          </div>
          {{else}}
          <div class="my_domain_name" onclick='showDomainVerificationInstructions("{{name}}","{{dns_txt_code}}")'>
            {{name}} <br>
            <div class="my_domain_verified">
              <div class='domain-not-verified'>Not Verified</div>
            </div>
          </div>
          {{/ifeq}}

          <div class="domain_panel" data-id="{{id}}">

            <div id="add-email-user">
              <input class="add-email-user-input" data-id="{{id}}" data-domain="{{name}}" placeholder="user@{{name}}" />
              <button class='add-email-user-submit' onclick="addEmailUser({{ id }})">Add Email User</button>
            </div>

            <div id="my_domain_email_users">

            </div>

            <div class="delete-domain" onclick="deleteDomain('{{name}}')">
              DELETE DOMAIN
            </div>
          </div>

        </div>
        {{/each}}
      </div>
      {{/ifeq}}
    </div>
  </div>

  {{/ifeq}}

  <div id="tos">
    <div class="close-popup" onclick='closeTOS()'><i class="fa-solid fa-circle-xmark"></i></div>
    <h2>Terms of Service</h2>
    {{> tos }}
  </div>
  <div id="pp">

  <div class="close-popup" onclick="closePP()"><i class="fa-solid fa-circle-xmark"></i></div>
    <h2>Privacy Policy</h2>

  </div>

  <footer>
    <span style="text-decoration:underline;cursor:pointer;" onclick="showPP()">Privacy Policy</span> | <span
      style="text-decoration:underline;cursor:pointer;" onclick="showTOS()">Terms of Service</span>
  </footer>
  <!--<div class="email-user">
                    nick@rise-game.com
                    Created: 0/0/00
                    Storage: 120MB
                    <div class='change-pass'>
                      key icon
                    </div>

                  </div>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script>

    function formatBytes(bytes, decimals = 2) {
      if (!+bytes) return '0 Bytes'

      const k = 1024
      const dm = decimals < 0 ? 0 : decimals
      const sizes = ['Bytes', 'KiB', 'MiB', 'GiB', 'TiB', 'PiB', 'EiB', 'ZiB', 'YiB']

      const i = Math.floor(Math.log(bytes) / Math.log(k))

      return `${parseFloat((bytes / Math.pow(k, i)).toFixed(dm))} ${sizes[i]}`
    }



    var my_domain_panels = document.getElementsByClassName("domain_panel");
    var my_email_users = {{{ my_email_users }}};
    //load email users into panels

    if(my_email_users != -1) {
    document.getElementById("my_email_users_length").innerHTML = my_email_users.length;
    console.log("Loading email users:", my_email_users)
    }
    var total_email_user_storage = 0;

    for (var d = 0; d < my_domain_panels.length; d++) {
      for (var i = 0; i < my_email_users.length; i++) {
        if (my_email_users[i].domain_id == my_domain_panels[d].dataset.id) {
          var emailUserDiv = document.createElement("div")
          emailUserDiv.classList.add("email-user")
          var emailUserNameDiv = document.createElement("div")
          emailUserNameDiv.classList.add("email-user-full-email")
          emailUserNameDiv.innerHTML = my_email_users[i].email
          emailUserDiv.appendChild(emailUserNameDiv);

          var emailUserCreatedAtDiv = document.createElement("div")
          emailUserCreatedAtDiv.classList.add("email-user-created-at")
          var c_date = new Date(my_email_users[i].created_at + ' UTC');
          var f_date = c_date.toDateString().substring(4) + " " + c_date.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true })
          emailUserCreatedAtDiv.innerHTML = "Created: <span style='color:gold'>" + f_date + "</span>";
          emailUserDiv.appendChild(emailUserCreatedAtDiv);

          var emailUserStorageDiv = document.createElement("div")
          emailUserStorageDiv.classList.add("email-user-storage")
          emailUserStorageDiv.innerHTML = "Storage Used: " + formatBytes(my_email_users[i].storage_used);
          total_email_user_storage = total_email_user_storage + my_email_users[i].storage_used
          emailUserDiv.appendChild(emailUserStorageDiv);

          var emailUserChangePassDiv = document.createElement("div")
          emailUserChangePassDiv.classList.add("email-user-change-password")
          emailUserChangePassDiv.innerHTML = '<i class="fa-solid fa-key"></i> Change Password';
          let this_email = my_email_users[i].email
          emailUserChangePassDiv.onclick = function() {
            changeEmailUserPass(this_email)
          }
          emailUserDiv.appendChild(emailUserChangePassDiv);

          var emailUserDeleteDiv = document.createElement("div")
          emailUserDeleteDiv.classList.add("email-user-delete")
          emailUserDeleteDiv.innerHTML = '<i class="fa-solid fa-trash"></i> Delete User'
          emailUserDeleteDiv.onclick = function() {
            deleteEmailUser(this_email)
          }
          emailUserDiv.appendChild(emailUserDeleteDiv);

          my_domain_panels[d].appendChild(emailUserDiv)
        }
      }
    }

    var teus = document.getElementById("total-email-user-storage");
    if(teus != null)
      teus.innerHTML = formatBytes(total_email_user_storage);

  </script>
  <script src='/js/core.js'></script>
</body>

</html>